.delete-quiz-content {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px;
    width: 50%;
    margin: 7% auto;
    min-height: calc(100vh - 200px);
    color: #fff;
    position: relative;
}

.no-quiz-message {
    text-align: center;
    color: #fff;
    font-family: 'Arial', sans-serif;
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    color: #fff;
    font-family: 'Arial', sans-serif;
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0;
    font-size: 16px;
    color: #fff;
    font-family: 'Arial', sans-serif;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
}

option {
    color: black;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.3s, background 0.3s;
    width: 40%;
    color: #fff;
    margin: 10px auto;
}

button:hover {
    transform: scale(1.05);
    background: rgba(255, 255, 255, 0.2);
}

/* 
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: 'Arial', sans-serif;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

th {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}

tbody tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.1);
}

tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

tbody td {
    color: #fff;
}

tbody td:first-child {
    font-weight: bold;
}

tbody td:last-child {
    text-align: right;
} */