/* Background for Home, About, and Contact */
html {
  scroll-behavior: smooth;
}

.body {
  margin: 0;
  box-sizing: border-box;
}

.container {
  /* background: url('../../../../assets/bg1.jpg') no-repeat center center/cover; */
  background: url('../../../../assets/bg1.jpg') fixed;
  min-height: 100vh;
  padding: 40px 0;
  position: relative;
  z-index: 1;
}

/* Glass Effect for Better Visibility */
.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(234, 232, 232, 0.1);
  /* background: rgba(0, 0, 0, 0.1); Adds a dark overlay */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(10px);
  z-index: -1;
}