<app-navbar></app-navbar>
<section class="about">
  <h2>About Us</h2>
  <p>
    Welcome to our <strong>Online Quiz Platform</strong>, where learning meets fun! Our platform
    allows users to <strong>create, customize, and participate</strong> in engaging quizzes with
    friends, colleagues, and learners worldwide.
  </p>

  <p>
    Whether you're an educator looking to make learning interactive, a business professional
    organizing team-building activities, or just someone who loves testing knowledge, our
    platform provides an easy-to-use interface for everyone.
  </p>

  <h3>
    Key Features
  </h3>
  <ul>
    <li>Create personalized quizzes with various question types.</li>
    <li>Join quizzes in real-time with a seamless user experience.</li>
    <li>Track scores and performance insights.</li>
    <li>Share quizzes with friends and challenge them.</li>
  </ul>

  <p>
    Join us today and start crafting your own quizzes effortlessly!
  </p>
</section>

<app-footer></app-footer>