<div class="modal">
    <div class="modal-content">
        <div class="quiz-id-input" *ngIf="!showQuizAttempt">
            <label>Enter Quiz ID:</label>
            <input type="text" [(ngModel)]="quizId">
            <button (click)="fetchQuiz()">Fetch Quiz</button>
        </div>
        
        <div *ngIf="quizFound && !showQuizAttempt">
            <h2>{{ quizTitle }}</h2>
            <button (click)="startQuiz()">Attempt Quiz</button>
        </div>
        
        <div *ngIf="showQuizAttempt">
            <div class="quiz-attempt">
                <h2>{{ currentQuestion.text }}</h2>
                <div *ngIf="currentQuestion.type === 'mcq'">
                    <div *ngFor="let option of currentQuestion.options">
                        <input type="radio" [name]="'question-' + currentQuestionIndex" [(ngModel)]="userAnswers[currentQuestionIndex]" [value]="option">{{ option }}
                    </div>
                </div>
                <div *ngIf="currentQuestion.type === 'truefalse'">
                    <input type="radio" [name]="'question-' + currentQuestionIndex" [(ngModel)]="userAnswers[currentQuestionIndex]" value="True"> True
                    <input type="radio" [name]="'question-' + currentQuestionIndex" [(ngModel)]="userAnswers[currentQuestionIndex]" value="False"> False
                </div>
                <div class="timer">Time left: {{ timeLeft }} seconds</div>
                <button (click)="nextQuestion()" [disabled]="!canProceed">Next</button>
            </div>
        </div>
        
        <div *ngIf="quizCompleted && !showQuizAttempt">
            <h2>Quiz Completed</h2>
            <p>Your Score: {{ score }}</p>
        </div>
    </div>
</div>